<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BrunoBooks</title>
    <link rel="stylesheet" href="../../src/reset.css">
    <link rel="stylesheet" href="../../src/style.css">
</head>

<body>
    <header class="header-class">
        <div class="container">
            <input type="checkbox" id="menu" class="container__button">
            <label for="menu"> 
                <span class="header__navbar container__img"></span>
            </label>
            <ul class="menu-list">
                <li class="menu-list__title">Categorias</li>
                <li class="menu-list__iten"><a href="#" class="menu-list__link">Programação</a></li>
                <li class="menu-list__iten"><a href="#" class="menu-list__link">Front-End</a></li>
                <li class="menu-list__iten"><a href="#" class="menu-list__link">Infra</a></li>
                <li class="menu-list__iten"><a href="#" class="menu-list__link">Business</a></li>
                <li class="menu-list__iten"><a href="#" class="menu-list__link">Design</a></li>
            </ul>
            <img src="../static/img/Logo.svg" alt="Logo do site Bruno Books" class="container__img">
        </div>
        <div class="container">
            <a href="#"><img src="../static/img/Favoritos.svg" alt="Meus Favoritos" class="container__img"></a>
            <a href="#"><img src="../static/img/Compras.svg" alt="Carrinho de Compras" class="container__img"></a>
            <a href="#"><img src="../static/img/Usuário.svg" alt="Perfil" class="container__img"></a>
        </div>
    </header>
</body>

</html>